@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('./images/bg-wpp.jpg') no-repeat;
}

.card-container {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 7px;
}